section {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8rem 0;
}

.container {
    width: clamp(500px, 80%, 1500px) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 70rem;
}

.container h2 {
    font-size: 4.5rem;
    font-weight: bold;
}

.container p {
    font-size: 2rem;
    font-weight: 300;
}

.button {
    background-color: rgb(229, 197, 115);

    width: 35rem;
    height: 7rem;
    border-radius: 10px;

    font-size: 2rem;
    font-weight: bold;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

#banner {
    padding: 0rem;
    margin-top: 6rem;
}

#banner-w {
    width: 100vw;
}

#compre {
    background-color: var(--orange);
}

.compre-text-1 h2,
.compre-text-1 p {
    color: white;
}

#produtos {
    background-color: var(--blue);
}

.produtos-text {
    width: 100%;
    margin-bottom: 3rem;
}

.container-produtos {
    flex-direction: column;
    align-items: start;
}

.produtos-catalogo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 70rem;
    width: 100%;
}

.produtos-item {
    text-align: center;
}

.produtos-item img {
    width: 35rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.produtos-item h3 {
    font-size: 2rem;
    font-weight: bold;
    color: #000;
}

#sobre {
    background-color: var(--orange);
}

#sobre p,
#sobre h2 {
    color: #fff;
}

.sobre-img {
    height: 40rem;
}

.sobre-text {
    height: 40rem;

    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 12rem;
}

#peca {
    background-color: var(--blue);
}

#peca p,
#peca h2 {
    color: #fff;
}

#seja {
    background-color: var(--orange);
}

#seja p,
#seja h2 {
    color: #fff;
}

.compre-text-3 {
    gap: 5.5rem;
}

.seja-img {
    height: 40rem;
}